/*------------------------------------------
Responsive Grid Media Queries - 1280, 1024, 768, 480 for "MTC Self Storage"
1280-1024   - desktop (default grid)
1024-768    - tablet landscape
768-480     - tablet 
480-less    - phone landscape & smaller
--------------------------------------------*/

/* --------------------------------------------
RESPONSIVE CSS STARTS
-------------------------------------------- */

.container-md, .container-sm {
    max-width: 900px!important;
    
}

@media only screen and (max-width: 767px) {
        .sub-heading {
    font-size: 40px;
    line-height: 46px;
}
 .heading {
    font-size: 30px;
    line-height: 38px;
}

.banner-text
 {
    padding: 24px;
}
.banner-content {
    padding: 250px 30px 100px 30px;
}
.mtc-btn {
    font-size: 18px;
    padding: 15px 24px;
}
p {
    font-size: 16px;
    line-height: 26px;
}
.btn-wrap {
    margin-top: 15px;
}



}

@media (min-width: 1200px) and (max-width: 1400px) {
.main-logo {
    width: 70%;
}

.navbar-brand img{
width: 80%;
}

}

@media (min-width: 1024px) and (max-width: 1200px) {
.heading {
    font-size: 42px;
    line-height: 48px;
}
    .banner-text p {
        font-size: 17px;
        line-height: 28px;
    }
    .sub-heading {
    font-size: 40px;
    line-height: 46px;
}


}




@media (min-width: 768px) and (max-width: 1023px) {
    .heading {
        font-size: 38px;
        line-height: 42px;
    }

    .banner-text p {
        font-size: 17px;
        line-height: 28px;
    }
       .sub-heading {
    font-size: 40px;
    line-height: 46px;
}


}

@media only screen and (max-width: 480px) {
        .sub-heading {
    font-size: 40px;
    line-height: 46px;
}
 .heading {
    font-size: 30px;
    line-height: 38px;
}
.banner-text
 {
    padding: 24px;
}
.banner-content {
    padding: 250px 30px 100px 30px;
}
p {
    font-size: 16px;
    line-height: 26px;
}


}



/*
@media (min-width: 0px) and (max-width: 767px) {

    body {
        -webkit-text-size-adjust: unset!important;
    }

    .container, .container-sm {
        max-width: 767px!important;
        width:100%!important;
    }

    .banner-content {
        padding:10rem 1rem 1rem 1rem!important;
    }

    .banner-text {
        padding:1rem;
        background:rgba(255,255,255,0.7);
    }

    .banner-text p {
        font-size:1.2rem;
        line-height:1.5;
     }

    .heading, .sub-heading {
        font-size:2rem;
        line-height:1.2;
    }

    .choose-wrap {
        padding: 1rem!important;
        margin:1rem 0!important;
    }

    .choose-wrap p {
        font-size: 1.2rem!important;
        line-height:1.4;
    }

    p {
        font-size:1.2rem;
    }


}

*/


/* --------------------------------------------
RESPONSIVE CSS ENDS
-------------------------------------------- */

