/*------------------------------------------------------------------
[Style Layout Sheet For "MTC Self Storage"]

-------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
html {
  width: 100%;
  height: 100%;
}
a, a:hover {
  text-decoration: none;
  outline: 0;
}
img {
  max-width: 100%;
  -webkit-user-drag: none;
}
button:focus {
  outline: 0;
}
body {
  font-family: 'Lucida Sans', sans-serif;
  font-weight: 400;
  float: left;
  width: 100%;
  color: #000;
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
p{
  font-size: 18px;
  line-height: 28px;
  padding: 10px 0;
}

/**-------------------------
2. PreLoader CSS Starts
-------------------------**/

.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
 width: 8vmax;
 height: 8vmax;
 border-right: 4px solid #4db570;
 border-radius: 100%;
 animation: spinRight 800ms linear infinite;
}
.loader:before, .loader:after {
 content: '';
 width: 6vmax;
 height: 6vmax;
 display: block;
 position: absolute;
 top: calc(50% - 3vmax);
 left: calc(50% - 3vmax);
 border-left: 3px solid #4db570;
 border-radius: 100%;
 animation: spinLeft 800ms linear infinite;
}
.loader:after {
 width: 4vmax;
 height: 4vmax;
 top: calc(50% - 2vmax);
 left: calc(50% - 2vmax);
 border: 0;
 border-right: 2px solid #4db570;
 animation: none;
}
@keyframes spinLeft {
 from {
   transform: rotate(0deg);
 }
 to {
   transform: rotate(720deg);
 }
}
@keyframes spinRight {
 from {
   transform: rotate(360deg);
 }
 to {
   transform: rotate(0deg);
 }
}

/**-------------------------
PreLoader CSS Ends
-------------------------**/

/**-------------------------
3. Home Page CSS Starts
-------------------------**/

/*Header*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 10px #b3beb6;
}
.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}
.navbar-toggler:active, .navbar-toggler:focus {
  outline: none;
}
.navbar-toggler[aria-expanded="false"] {
  position: relative;
  top: 7px;
}
.navbar-toggler-icon {
  width: 22px;
  height: 4px;
  background-image: none;
  position: relative;
  background: #4db570;
  transition: all 300ms linear;
  border-radius: 4px;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler-icon:after, .navbar-toggler-icon:before {
  width: 29px;
  position: absolute;
  height: 4px;
  background-color: #4db570;
  top: -20px;
  left: -7px;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
  border-radius: 4px;
}
.navbar-toggler-icon:after {
  top: -10px;
  width: 14px;
  right: 0px;
  left: auto;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #4db570;
  width: 26px;
  height:3px;
  top: 0px;
  left: 0;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #4db570;
  width: 26px;
  height: 3px;
  top: -8px;
  left: -1px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
  background: transparent;
  left: 0px;
  top: 1px;
}
.navbar-brand img{
  width: 250px;
}
.nav-item{
  margin: 0 14px;
  padding: 10px;
}
.nav-link{
  color: #000 !important;
  padding: 0 !important;
  display: inline-block;
  transition: 0.48s;
  position: relative;
}
.nav-link:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -7px;
  background: transparent;
  width: 0;
  height: 3px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1);
}
.nav-link:hover:before, li.nav-item.active .nav-link:before{
  width: 50%;
}
.nav-link:before {
  background: #ff6600;
}
.nav-item:hover .nav-link, .nav-item.active .nav-link{
  color: #ff6600 !important;
}
/*Header*/

/*Banner*/

.banner-wrapper {
  background-image: url(../images/unit-2.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  padding: 200px 0 100px 0;
}
.banner-content {
  background-color: #ffffff9c;
  border-radius: 20px;
  padding: 50px;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 2px 20px #00000080;
}
.heading{
  font-size: 56px;
  line-height: 68px;
  font-weight: bold;
  padding: 10px 0;
}
.sub-heading{
 font-size: 52px;
 line-height: 62px;
 font-weight: bold;
 padding: 10px 0;
}
.heading b, .sub-heading b{
  color: #4db570;
}
.sub-text{
  color: #ff6600;
  font-size: 30px;
  line-height: 22px;
  font-family: 'Montez', sans-serif;
}
.btn-wrap {
  margin-top: 25px; 
}
.mtc-btn {
  display: inline-block;
  background-color: #ff6600;
  border-radius: 12px;
  position: relative;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  padding: 18px 36px;
  border: 2px solid #ff6600;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  transform: scale(1);
}
.mtc-btn:hover {
  background-color: #ff6600;
  color: #fff;
  border: 2px solid #ff6600;
  transition: all 0.4s ease;
  box-shadow: 0 10px 40px -5px #ff6600cd;
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}
.mtc-btn i{
  padding-left: 20px;
  position: relative;
  top: 0px;
  left: 0;
  transition: 0.48s;
}
.mtc-btn:hover i{
  left: 6px;
  transition: all ease .48s;
}
.about-wrapper, .choose-wrapper, .solution-wrapper{
  padding: 100px 0;
}
.hr-line{
  border: 1px dotted #4db570;
  width: 180px;
  margin: 10px 0;
}

/*Banner*/

/*About*/

/*.about-wrapper, .solution-wrapper{
  background-image: url(../images/about-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  }*/
  .about-content{
    padding: 0px 15px;
  }
  .cap-letter::first-letter {
    -webkit-initial-letter: 3;
    initial-letter: 3;
    color: #4db570;
    margin-right: 10px;
    font-weight: bold;
  }
  .abt-image{
    margin: 15px 0;
    overflow: hidden;
    border-radius: 14px;
    box-shadow: 0 2px 20px #00000050;
  }
  .abt-image img{
    transition: transform .5000s ease-out;
    overflow: hidden;
  }
  .abt-image img:hover{
    transform: scale(1.2); 
  }


  /*About*/

  /*Choose*/
  .choose-wrapper{
    /*background-color: #4db57017;*/
  }
  .choose-wrap{
    overflow: hidden;
    margin: 20px 10px;
    text-align: center;
    padding: 40px 20px;
    border-radius: 20px;
    background-color: #4db57017;
    box-shadow: 0px 0px 2px 0px #4db570;
    background-image: url(../images/about-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
  .choose-wrap:hover{
    background-color: transparent;
  }
  .choose-box {
   transition: transform .500s ease-out;
   overflow: hidden;
 }
 .choose-box:hover{
  transform: scale(1.1); 
}
.choose-box i {
  color: #4db570;
  font-size: 40px;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 2px solid #4db570;
}
.choose-box h4{
  color: #4db570;
  font-size: 22px;
}

/*Choose*/

/*Solution*/
.solution-image{
  background-color: #fff;
  border-bottom: 3px solid #ff6600;
  box-shadow: 0 2px 20px #00000050;
  border-radius: 14px;
  background-image: url(../images/about-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}
.solution-heading {
  padding: 30px;
}
.tick-icon{
  background-image: url(../images/tick.png);
  background-size: 8%;
  background-repeat: no-repeat;
  padding-left: 40px;
}
.solution-heading h3{
  color: #4db570;
  font-weight: 600;
  line-height: 32px;
  font-size: 26px;
}
.solution-heading p{
  padding: 0;
  margin-bottom: 10px;
}
.solution-image .abt-image img{
  min-height: 100%;
  height: 300px;
  width: 100%;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.solution-image .abt-image{
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin: 0;
}
.solution-category{
  padding: 30px 0;
}

/*Solution*/

/*Contact*/
.map-wrapper{
  padding: 30px 0 100px 0;
}
.contact-details li{
  padding: 20px 0;
}
.contact-details li span{
  margin-right: 30px;
}
.contact-details li i {
  color: #4db570;
  padding-right: 10px;
}
.contact-details li a {
  color: #4db570;
  font-size: 20px;
  transition: 0.48s;
}
.contact-details li a:hover, .contact-details li a:hover i{
  color: #ff6600;
}
.contact-form {
  margin: 20px 0;
  width: 100%;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.form-fields {
  margin: 40px 0;
}
.input-wrapper {
  position: relative;
  margin-bottom: 40px;
}
.input-wrapper label {
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 14px;
  padding: 0 6px;
  pointer-events: none;
  background: #fff;
  color: #4db570;
  transform: translateY(-25px);
}
.input-wrapper input, .input-wrapper textarea {
  position: relative;
  width: 100%;
  border: 2px solid #4db570;
  padding: 16px 25px;
  border-radius: 10px;
  background-color: transparent;
}
.input-wrapper textarea{
  min-height: 130px;
}
.input-wrapper input:focus, .input-wrapper textarea:focus{
  border: 2px solid #ff6600;
  outline: none;
}

/*Contact*/

/*Footer*/

footer {
    background-color: #f0f7f1;
    padding: 60px 0;
      background-image: url(../images/about-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
}
.footer-logo li{
  display: inline-block;
  padding: 0 20px;
}
.footer-logo img{
  max-width: 400px;
  width: 100%;
  margin-bottom: 40px;
}
.footer-logo li a{
  color: #000;
  display: inline-block;
  transition: 0.48s;
  position: relative;
}
.footer-logo li a:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -7px;
  background: transparent;
  width: 0;
  height: 3px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1);
}
.footer-logo li a:hover:before{
  width: 50%;
}
.footer-logo li a:before {
  background: #ff6600;
}
.footer-logo li a:hover{
  color: #ff6600 !important;
}
.sub-footer{
    background-color: #4db570;
    padding: 20px;
    text-align: center;
    color: #fff;
}
.sub-footer a{
  color: #fff;
  transition: 0.48s;
}
..sub-footer a:hover{
  color: #ff6600;
}

/*Footer*/


/**-------------------------
 Home Page CSS Ends
 -------------------------**/
